*{
    padding: 0px;
    margin: 0px;
}


body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    color: #fff;
    gap: 5vw;
}

.animation_card,
.animation_card2{
    display:grid;
    place-items: center;
    position: relative;
    height: 500px;
    width: 300px;
    background:#222;
    border-radius: 10px;
    cursor: pointer;
    

}

.animation_card::before{
    position: absolute;
    content: '';
    height: 500px;
    width: 300px;
    background-color: tomato;
    border-radius: 15px;
    z-index: -1;
    transition: 0.3s;
    animation: animate1 2s linear infinite normal;
}

.animation_card:hover::before{
    height: 505px;
    width: 305px;
}

@keyframes animate1{
    0%{
        filter: hue-rotate(350deg);
    }
}


.animation_card2::before{
    position: absolute;
    content: '';
    height: 120%;
    width: 50%;
    background-color:tomato;
    transform: rotate(30deg);
    
    
}
.animation_card2{
    overflow: hidden;
}
.animation_card2:hover::before{
    animation: animate2 1s linear infinite;
}
@keyframes animate2 {
    form{
        filter: hue-rotate(0deg);
        transform: rotate(0deg);

    }
    to{
        filter: hue-rotate(360deg);
        transform: rotate(360deg);
    }
}

.animation_card2::after{
    position: absolute;
    content: '';
    inset: 5px;
    background-color: #222;
    border-radius: 15px;
}